*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #303030;
    background-image: url('../img/pugly3.png');
    background-size: cover;
    background-position: center;
}

h1{
    text-align: center;
    padding-top: 30px;
    font-family: arial;
    color: white;
    font-family: 'Chivo', 'sans-serif';
    font-size: 40px;


}

p{
    color: white;
    font-family: 'Chivo', 'sans-serif';
    
}

input{
    width: 30%;
    padding: 6px;
    border-radius: 3px;
    border: none;
}

button{
    padding: 15px;
    color:  white;
    font-size: 14px;
    background-color: orange;
    font-family: 'Chivo', 'sans-serif';
    border-radius: 10px;
    border: none;
}

button:hover{
    background-color: black;
    cursor: pointer;
}

#form{
    text-align: center;
}

.input{
    padding: 10px;
}

#container{
    text-align: center;
    margin: 0 auto;
}

#boxes{
    margin: 0 auto;
    width: 100%;
}
#imageBox{
    width: 500px;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: none;
    margin: 20px auto;
}

#imageBox2{
    margin: 20px auto;
    width: 500px;
    height: 500px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

#imageBox3{
    margin: 20px auto;
    width: 500px;
    height: 500px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

#clear{
    clear: both;
}

#kill{
    margin: 0 auto;
    text-align: center;
    display: none;
    margin-bottom: 20px;

}

#kill:hover{
    background-color: black;
    cursor: pointer;
}



.top{
    padding: 20px;
    -webkit-text-stroke: 2px black;
}

.top2{
    -webkit-text-stroke: 2px black;
    width: 100%;
}

.top3{
    -webkit-text-stroke: 2px black;
    width: 100%;
}

.bottom{
    padding-top: 20%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    -webkit-text-stroke: 2px black;
    width: 100%;
  
}

.bottom2{
    padding-top: 20%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    -webkit-text-stroke: 2px black;
    width: 100%;
}



.bottom3{
    padding-top: 20%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    -webkit-text-stroke: 2px black;
    width: 100%;
}